{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/search_style.css' %}">
</head>
<body>
    <div class="empty"></div>

    <input type="text" name="course_to_find" class="input_block" value="Classroom? Instructor?"
           onclick="if(this.value=='Classroom? Instructor?') {this.value='';}"
           onblur="if(this.value=='') {this.value='Classroom? Instructor?'}"><br>
    <input type="submit" value="Find Schedule" class="submit_button">

</body>
</html>


